.w3-colors-amber,.w3-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.w3-colors-aqua,.w3-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.w3-colors-blue,.w3-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.w3-colors-light-blue,.w3-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.w3-colors-brown,.w3-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.w3-colors-cyan,.w3-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.w3-colors-blue-grey,.w3-hover-blue-grey:hover,.w3-blue-gray,.w3-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.w3-colors-green,.w3-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.w3-colors-light-green,.w3-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.w3-colors-indigo,.w3-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.w3-colors-khaki,.w3-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.w3-colors-lime,.w3-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.w3-colors-orange,.w3-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.w3-colors-deep-orange,.w3-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.w3-colors-pink,.w3-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.w3-colors-purple,.w3-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.w3-colors-deep-purple,.w3-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.w3-colors-red,.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.w3-colors-sand,.w3-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.w3-colors-teal,.w3-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.w3-colors-yellow,.w3-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.w3-colors-white,.w3-hover-white:hover{color:#000!important;background-color:#ffffff!important}
.w3-colors-black,.w3-hover-black:hover{color:#fff!important;background-color:#000000!important}
.w3-colors-grey,.w3-hover-grey:hover,{color:#000!important;background-color:#9e9e9e!important}
.w3-colors-gray,.w3-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.w3-colors-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-colors-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.w3-colors-pale-red,.w3-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.w3-colors-pale-green,.w3-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.w3-colors-pale-yellow,.w3-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.w3-colors-pale-blue,.w3-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
